/* ShowComponent.module.css */

.close {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    z-index: 9999; /* Ensure it's on top of other content */
  }
  
  .open {
    background-color: transparent;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    z-index: 9999; /* Ensure it's on top of other content */
  }
  