@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
  background-color: #f8f8f8;
}

#key{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}