@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ocewnwide";
  src: local("Ocewnwide"), url("../fonts/oceanwide-cufonfonts/Oceanwide-Semibold.otf") format("truetype");
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Ocewnwide', sans-serif !important;
  scroll-behavior: smooth;
  background-color: #f8f8f8;
}
/* App.css */

